

/**** DARK ****************************************/
.window-dk{
	/* defaults*/
	height: 270px;
	width:400px;
	background: #222222;
	margin-top: -150px;
	margin-left: -200px;
	position: absolute;
	border: 1px solid black;
	top: 50%;
	left: 50%;
	-moz-border-radius: 10px;
	border-radius: 10px;
	/*box-shadow: -2px 0px 21px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: -2px 0px 21px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: -2px 0px 50px rgba(144, 144, 144, 0.1);
	*/
	
	box-shadow: 
  	/*0 1px 2px #fff, /*bottom external highlight*/
  	/*0 -1px 1px #666, /*top external shadow*/ 
  	inset 0 -1px 1px rgba(50,50,50,0.5), /*bottom internal shadow*/ 
  	inset 0 1px 1px rgba(140,140,140,0.5); /*top internal highlight*/
  	
}

.window-dk .title-bar{ 
	height: 50px; 
	border-bottom: solid 1px #1e1e1e;
	line-height: 50px;
	padding-left: 24px;
	/*font-family: verdana;*/
	font-size: 20px;
	color: #bcbcbc;
	text-shadow: 2px 1px #101010;
}


.window-dk .title-bar .ofof{ 
	/*font-size: 14px;*/
	color: #666666;
	text-shadow: 2px 1px #101010;
	float:right;
	padding-right:20px;
}


.window-dk .button{
	width: 356px; 
	margin: 0px auto;
	margin-top: 15px;
	border: 1px solid #000;
	box-shadow: 
  	/*0 1px 2px #fff, /*bottom external highlight*/
  	/*0 -1px 1px #666, /*top external shadow*/ 
  	inset 0 -1px 1px rgba(50,50,50,0.5), /*bottom internal shadow*/ 
  	inset 0 1px 1px rgba(110,110,110,0.5); /*top internal highlight*/
	background: -webkit-gradient(linear, left top, left bottom, from(#363636), to(#2b2b2b));
	color: #CCCCCC;
}
.window-dk .button:active{
	background: -webkit-gradient(linear, left top, left bottom, from(#3682cf), to(#003871));
}

.window-dk .inlay{
	height: 40px;
	width: 356px;
	line-height: 40px;
	/*background: #343434;*/
	border-radius: 5px;
	/*border: 1px solid #000;*/
	margin: 0px auto;
	margin-top: 10px;
	box-shadow: 
  	0 1px 1px #414141, /*bottom external highlight*/
  	/*0 -1px 1px #666, /*top external shadow*/ 
  	inset 0 -1px 1px rgba(50,50,50,0.5), /*bottom internal shadow*/ 
  	inset 0 1px 1px rgba(7,7,7,0.5); /*top internal highlight*/
	background: #121212;
	/*font-family: verdana;*/
	font-size: 13px;
	color: #CCCCCC;
	text-shadow: 2px 1px #101010;
}

.window-dk .inlay input{
	color: #CCCCCC;
	background: #121212;
	border: 0px;
	padding-left: 10px;
	/*font-family: verdana;*/
	font-size: 13px;
}

.window-dk .content{
	padding-top:10px;
	border-top: solid 1px #4b4b4b;
}

html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.clear{ clear: both;}

#placeMain{ height: 83%; min-height: 500px;   max-height: 100% }
#placeMain-opportunities{ height: 100%; overflow: hidden; max-height: 100%; position:relative; background: #000}


/* column */



.column-dk{ width: 400px; height: 100%;   position:absolute; right:0px; background: #242424;}
.column-dk .titleBar{ text-shadow: 2px 1px #101010; border-top: 1px solid #4c4c4c; padding: 13px 0px 0px 10px; height: 30px; background: #373737; color: white; border-bottom: none;}

.column-dk .tabBar{ }
.column-dk .tabBar ul {
	list-style: none;border-bottom: 1px solid #2e2e2e;  height: 34px;
}

.column-dk .tabBar ul li {
	float:left;
	display:block;
	line-height: 34px;
	width: 50%;
	text-align: center;
	background: #2c2c2c;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	height: 34px;
	text-shadow: 2px 1px #101010;
}
.column-dk .tabBar ul li.current{ background: #373737;}


.column-dk .accordian{}
.column-dk .accordian .accord{}
.column-dk .accordian .accord-titleBar{ background: #242424;}
.column-dk .accordian .accord-content{}

.column-dk .accordian .on .accord-titleBar{ background: #373737; }

.hfWrapper{ position: relative;}

.hfBlock{ padding: 15px;
	box-shadow: 

  	inset 0 1px 1px rgba(7,7,7,0.5); /*top internal highlight*/
  	
}
.hfBlock ul {
	list-style: none;
}

.hfBlock ul li {
	
	display:block;
	line-height: 24px;
	
}

.hfBlock ul li ul { margin-left: 18px; }
.hfBlock ul li ul li {font-size: 13px; color: #BAB8A3}
.hfBlock ul li ul li:first-child {font-size: 18px; color: #eee}

#accordion{
	position: relative;
	bottom: 0px;
	right:0px;
 
}


 
#accordion section  { border-bottom: 1px solid #212121; background-color:  #373737; }

#accordion h2{ 
	margin:0px;
	border-top: solid 1px #454545;
	border-bottom: solid 1px #1b1b1b;
	background: #242424;
	
}
.column-dk section p{ color:white; font: 15px/1 'Trebuchet MS', 'Lucida Sans'; padding:20px 16px; text-shadow: 2px 1px #101010;}

#accordion h2  
{
	display: block;
	position: relative;
	font: 15px/1 'Trebuchet MS', 'Lucida Sans';
	padding: 10px 16px;
	color: #eee;
	text-decoration: none;
	text-shadow: 2px 1px #101010;

}


#accordion h2 + div 
{
	height: 200px;
	overflow: hidden;
	-moz-transition: height 0.3s ease-in-out;
	-webkit-transition: height 0.3s ease-in-out;
	-o-transition: height 0.3s ease-in-out;
	transition: height 0.3s ease-in-out;
		
}

#accordion h2:after 
{  
    content: '+';
    color: #5b5b5b;
	position: absolute;
	right: 10px;
	line-height: 20px;
	/*top: 50%;*/
	text-indent: 6px;

	margin-top: -3px;
	/*border-top: 5px solid #333;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;*/
	height: 20px;
	width: 20px;
	border-radius: 10px;	
	
	box-shadow: 
  	0 1px 1px #414141, /*bottom external highlight*/
  	/*0 -1px 1px #666, /*top external shadow*/ 
  	inset 0 -1px 1px rgba(41,41,41,0.5), /*bottom internal shadow*/ 
  	inset 0 1px 1px rgba(7,7,7,0.5); /*top internal highlight*/
	background: #262626;	
	text-shadow: none;
	
}

#accordion .on h2:after 
{  
    content: 'x';
    color: #d8d7d7;
	position: absolute;
	right: 10px;
	line-height: 18px;
	/*top: 50%;*/
	text-indent: 7px;

	margin-top: -3px;
	/*border-top: 5px solid #333;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;*/
	height: 20px;
	width: 20px;
	border-radius: 10px;	
	font-size: 13px;
	text-shadow: none;
	
	box-shadow: 
  	0 1px 1px #414141, /*bottom external highlight*/
  	/*0 -1px 1px #666, /*top external shadow*/ 
  	inset 0 -1px 1px rgba(72,72,72,0.5), /*bottom internal shadow*/ 
  	inset 0 1px 1px rgba(7,7,7,0.5); /*top internal highlight*/
	background: #2c2c2c;	
	
}

#accordion .on h2 {	  background:#373737; color: #90b397;}
#accordion .on h2 + div {	
	
/*	animation: accord-grow 0.3s; 
	-moz-animation: accord-grow 0.3s; 
   	-webkit-animation: accord-grow 0.3s;
    -webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;  	
    */	
	border-top: 1px solid #494949;
}

#accordion .off h2 + div {	
	/*
	animation: accord-shrink 0.3s; 
	-moz-animation: accord-shrink 0.3s; 
   	-webkit-animation: accord-shrink 0.3s;
    -webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;  
    */
    		
	border-top: none;
}

.column-dk table{ width: 100%}
.column-dk table tr{ }
.column-dk table tr:nth-child(odd){ background: #343434;}
.column-dk table tr:nth-child(even){ background: #373737;}
.column-dk table td{ color:white; font: 15px/1 'Trebuchet MS', 'Lucida Sans'; padding:4px 5px; text-shadow: 2px 1px #101010;}
.column-dk table td:first-child{ color: #9b9b9b; padding-left: 15px}



#accordion #performance { position: absolute; top:0px; width: 400px;}
#accordion #overview  { position: absolute; top:37px; }
#accordion #accesspoints  { position: absolute; top:74px; }
#accordion .lastbb  { border-top: solid 1px #454545; position: absolute; display: block; top:111px; width: 400px; height: 200px;  background:#242424; z-index:10;}

.first #overview,
.first #accesspoints,
.first .lastbb{
	animation: down-200 0.3s; 
	-moz-animation: down-200 0.3s; 
   	-webkit-animation: down-200 0.3s;
    -webkit-animation-fill-mode:forwards;  	

}
.first_second #overview,  
.first_third #overview, 
.first_third #accesspoints, 
.second_third #accesspoints
{
	animation: up-200 0.3s; 
	-moz-animation: up-200 0.3s; 
   	-webkit-animation: up-200 0.3s;
    -webkit-animation-fill-mode:forwards;  	
}

.second_first #overview, 
.first_second #accesspoints,
.first_second .lastbb,
.second_third .lastbb,
.second_first .lastbb,
.third_second .lastbb,
.third_first .lastbb,   
.first_third .lastbb,
.second_first #accesspoints, 
.third_first #overview, 
.third_first #accesspoints, 
.third_second #accesspoints
{
	animation: down-200 0.3s; 
	-moz-animation: down-200 0.3s; 
   	-webkit-animation: down-200 0.3s;
    -webkit-animation-fill-mode:forwards;  	
}

/**** SLIDER ****************************************/
.window-dk .inlay input[type=range] {
	-webkit-appearance: none;
	background: url(../imgs/main/sliderBg.png) 0 -4px no-repeat ;
	border-radius: 10px;
	height: 10px;
	width: 475px;
	display: block;
	margin: 0 auto;
}

.window-dk .inlay input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	-webkit-box-shadow:
		inset 0 1px 0 rgba(255, 255, 255, 0.2),
		0 0 0 1px rgb(140, 140, 140),
		0 1px 1px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	background: url(../imgs/main/slider.png) 17px -2px;
	width: 15px;
	height: 15px;
}

.window-dk .inlay .slider {
	width: 500px;
	font-size: 9px;
	color: #FFF;
	margin: 20PX auto;
	padding:30px 0 0 0;
}

.window-dk .inlay ul{
	width: 475px;
	height: 20px;
	list-style-type:none;
	margin: 0 auto;
}

.window-dk .inlay ul li{
	display:block;
	width: 95px;
	float: left;
	text-align:center;
	padding: 10px 0 0 0;
}
/*** /end slider ***/


/* STACK */
.stack {
	height: 620px;
	width: 800px;
	
	position: absolute;
	left: 100px;
}
.stack li.stackLI { 
	
	/* background-color: gray; */ 
	
	display: block;
	
	position: absolute;
	
}


.stack li.stackLI:nth-child(n+2){
	opacity: 0;	

}