.list {}
.list.inline { display: inline-block; }
.list.inline li { display: inline-block; margin:0px; }


.list.drill{ 
	border-left: 1px solid #000;
}
.list.drill li { 
	padding-right: 15px; 
	background: url("../imgs/lists/lists-seperator-sprite.png") no-repeat;  
	background-position: right; 
}



.list.listView{
	margin: 0px; 
	padding: 0px;
	width: 100%;
}

.list.listView tr{	
	background: #2c2c2c; /* Old browsers */
	background: -moz-linear-gradient(top,  #2c2c2c 1%, #272727 50%, #272727 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#2c2c2c), color-stop(50%,#272727), color-stop(100%,#272727)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2c2c2c 1%,#272727 50%,#272727 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2c2c2c 1%,#272727 50%,#272727 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2c2c2c 1%,#272727 50%,#272727 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2c2c2c 1%,#272727 50%,#272727 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2c2c', endColorstr='#272727',GradientType=0 ); /* IE6-9 */
}
.list.listView tr.selected{
    background: #373737; /* Old browsers */
    background: -moz-linear-gradient(top,  #373737 1%, #373737 50%, #2f2f2f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#373737), color-stop(50%,#373737), color-stop(100%,#373737)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #373737 1%,#373737 50%,#373737 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #373737 1%,#373737 50%,#272727 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #373737 1%,#373737 50%,#272727 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #373737 1%,#373737 50%,#272727 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373737', endColorstr='#272727',GradientType=0 ); /* IE6-9 */
}

.list.listView td {
	margin: 0px; 
	padding: 0px;

	border-top: 1px solid #2d2d2d;
	border-bottom: 1px solid #000;
	color: #F5F5F5;
	font-size:14px;
	/*font-weight:600;*/
	padding: 10px 11px;
	line-height: 35px;
}

.list.listView td .listSubData{ color: #a2a2a2; font-size: 11px; }

.list.listView td:hover {

	background: #09F;
	border-top: 1px solid #4D4D4D;
	border-bottom: 1px solid #000;
	color: #ffffff;
}
.list.listView.light td:hover {
	color: #ffffff;
}
.list.listView.light tr{	
	background: #e8e8e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #e1e1e1 1%, #e4e2e2 50%, #e8e8e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e8e8e8), color-stop(50%,#e4e2e2), color-stop(100%,#e1e1e1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1f1f1 1%,#e4e4e4 50%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e8e8e8 1%,#e4e2e2 50%,#e1e1e1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e8e8e8 1%,#e4e2e2 50%,#e1e1e1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e8e8e8 1%,#e4e2e2 50%,#e1e1e1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
}

.list.listView.light tr.selected{
    background: #fff; /* Old browsers */

}

.list.listView.light td {
	border-top: 1px solid #b9b9b9;
	border-bottom: 1px solid #b9b9b9;
	color: #505050;
}


.list.listView span.align-right{ float: right }
.list.listView .disclosure{  border-left: 1px solid #000; width: 25px;   }
.list.listView.light .disclosure{  border-left: 1px solid #b9b9b9;  }

/*.list.drill li:after { 
	content:"";
   	position: absolute;
	width: 20px; 
	height: 20px;

	-webkit-transform: rotate(45deg);  
	margin-left: -8px;
    -webkit-mask-image: -webkit-gradient(linear, right top, left bottom, 
		from(#000000), 
        color-stop(0.5,#000000), 
        color-stop(0.5, transparent), 
        to(transparent));
	
	-webkit-background-clip: content;
	-webkit-box-shadow: 3px 0px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 0px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         3px 0px 5px rgba(50, 50, 50, 0.75);
	border: 1px solid #FFF;

}
*/

