div.popup {
    position: absolute;
    z-index: 999;
    overflow: hidden;
    color: #000;
    /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
    font-size: 14px;
    line-height: 15px;
    text-decoration: none;
}
div.popup.forwards {
    -moz-animation: grow .3s .05s forwards;
    -webkit-animation: grow .3s .05s forwards;
}
div.popup.reversed {
    -moz-animation: shrink .3s forwards;
    -webkit-animation: shrink .3s forwards;
}
.paused {
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

.rt .grad, .rn .grad {
    background-color: #e9e9e9;
    background-image: -webkit-linear-gradient(top, #e9e9e9, #d3d3d3);
    background-image: -moz-linear-gradient(top, #e9e9e9, #d3d3d3);
    background-image: -ms-linear-gradient(top, #e9e9e9, #d3d3d3);
}

.popupCoverA, .popupCoverB { display: block; height: 100%; width: 100%;  position: absolute; top:0px;}

/*Recent Transactions Pop-Up*/
div.rt {
    top: 62px;
    right: 71px;
    height: 438px;
    width: 296px;
    padding: 8px 0 0 0;
    background: url(../imgs/popup/carat.png) no-repeat 55px 0;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform-origin: 20% 0;
    -webkit-transform-origin: 20% 0;
}
.rt div.titleBar {
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    height: 29px;
    margin: 0;
    padding: 17px 0 0 15px;
    background-color: #eee;
    border-bottom: solid 1px #bcbcbc;
}
.rt div.listView {
    overflow: auto;
    padding: 0;
    margin: 0;
    height: 334px;
    width: 100%;
    background-color: #eee;
}
div.rt ul.list, div.rn ul.list {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-position: outside;
}
div.rt ul.list li, div.rn ul.list li {
    display: block;
    margin: 0;
    border-top: solid 1px #bcbcbc;
    background-image: url(../imgs/popup/greyArrow.png);
    background-repeat: no-repeat;
    background-position: 15px 23px;
    list-style-type: none;
    padding: 20px 25px 15px 50px;
}
div.rt ul.list li:first-of-type, div.rn ul.list li:first-of-type {
    border-top: none;
}

div.rt ul.list li:hover, ul.list li:active {
    color: #FFF;
    background-color: #01A4EF;
    background-image: url(../imgs/popup/whiteArrow.png);
}
div.rt ul.list li span.timeStamp {
    color: #bbb;
    font-size: 12px;
    display: block;
    padding-top: 3px;
}

div.rt ul.list li:hover span.timeStamp, div.rt ul.list li:active span.timeStamp {
    color: #fff;
}

.rt div.seeAll {
    height: 35px;
    margin: 0;
    padding: 17px 0 0 50px;
    background-color: #eee;
    border-top: solid 1px #bcbcbc;
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
}

/*Relationship Navigator Pop-Up*/
div.rn {
    top: 62px;
    right: 93px;
    width: 330px;
    padding: 8px 0 0 0;
    background: #FFF;
    background: url(../imgs/popup/carat.png) no-repeat 55px 0;
    margin-bottom: 50px;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform-origin: 20% 0;
    -webkit-transform-origin: 20% 0;
}
.rn .sectHeader {
    height: 29px;
    padding: 17px 0 0 15px;
    font: 14px;
    color: #333;
    /*    line-height: 25px;*/
    border-bottom: #cdcdcd solid 1px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
}
.rn .searchBar {
    background-color: #ffffff;
}
.rn .searchBar input.searchField {
    height: 25px;
    width: 255px;
    margin: 8px 20px;
    padding: 0 30px 0 10px;
    border-radius: 14px;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    background: url(../imgs/popup/bg_filtertxt.png) 260px -2px no-repeat;
    font-size: 14px;
    border: #666 solid 1px;
}
.rn .titlebar {
    height: 18px;
    padding: 13px 0 10px 20px;
    border-top: #cdcdcd solid 1px;
    border-bottom: #cdcdcd solid 1px;
}
.rn span.filterTitle {
    font-size: 12px;
    color: #308dbc;
    font-weight: bold;
}
.rn .searchFilters {
    margin: 0;
    padding: 5px;
    display: none;
}
.rn ul.filterButtons {
    padding: 0;
    list-style-type: none;
    margin: 10px auto;
    width: 300px;
    border: #a9aeb4 solid 1px;
}

.rn ul.filterButtons li {
    padding: 0 0 0 20px;
    margin: 0;
    height: 44px;
    background: #FFF url(../imgs/popup/arrow-header-details-up.png) 257px 50% no-repeat;
    line-height: 44px;
    border: #a9aeb4 solid 1px;
}
.rn .searchResults {
    background-color: #FFFFFF;
    height: 408px;
    overflow: auto;
}
.rn ul.resultsButtons {
    padding: 0;
    list-style-type: none;
}

.rn ul.resultsButtons li {
    display: block;
    margin: 0;
    border-bottom: #a9aeb4 solid 1px;
    background: url(../imgs/popup/datarow-arrow.gif) 280px 50% no-repeat;
    list-style-type: none;
    padding: 10px 50px 10px 20px;
}
.rn ul.resultsButtons li:last-child {
    border: none;
}
.rn .titleBar {
    height: 29px;
    margin: 0;
    font-size: 14px;
    padding: 17px 0 0 15px;
    background-color: #eee;
    border-bottom: solid 1px #bcbcbc;
}
.rn .sectFooter {
    height: 17px;
    padding: 8px 0 10px 20px;
    font: 14px;
    color: #333;
    line-height: 20px;
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
}
.rn span.bolded {
    color: #333;
    font-weight: bold;
}
.rn span.filterTxt1, .rn span.filterTxt2 {
    font-size: 15px;
    color: #666;
    display: block;
}
.rn span.filterTxt1 {
    font-weight: bold;
    float: left;
}

.rn span.filterTxt2 {
    float: right;
    margin-right: 50px;
}
.rn span.searchTxt1, .rn span.searchTxt2 {
    display: block;
}
.rn span.searchTxt1 {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

.rn span.searchTxt2 {
    font-size: 13px;
    color: #999;
}
/**/

