#iv_main.portfolio {
	background: #424242;
}

#port-setContext .content{
	margin: 0px auto;
	text-align: center;
	padding-top:30px;
}

#port-setContext .button{
	width: 150px;
	height: 110px;
	display: inline-table;
	margin: 5px;
}

#port-setInvestmentObjective {
	width: 600px;
	margin-top: -150px;
	margin-left: -300px;
}

#port-setInvestmentObjective .inlay{
	height: 100px;
	width: 93%;
}
#port-setInvestmentObjective .button{
	width:100px; 
	float: right;
	margin-right: 20px;
}




