<div class="footer">
    <div class="footer-inner">
        <button id="back" class="button back backPane">back</button>
        <button id="upload" class="button mini">Upload</button>
    </div>
</div>


<div class="contentBody">


        <div class="form trans">

            <fieldset>
                <div>
                    <label for="tag">Add Tag:</label>
                    <div class="input-field inputBox">
                        <button id="addTag"  class="button mini" placeholder="Add" >Add</button>
                        <input type="text" id="tag" placeholder="Tag Name">
                    </div>
                </div>
            </fieldset>
        </div>


        <div class="tagBlock">

        </div>

    </div>

