<div class="mainDocument">
    <div class="heading">
        <div class="date"><%= pubDate.month %>.<%= pubDate.day %>.<%= pubDate.year %></div>
        <div class="title"><%= title %></div>
    </div>
    <div class="details">
        <div class="detailsColumn">
            share: Private<br />
            Created: <span class="date"><%= pubDate.month %>.<%= pubDate.day %>.<%= pubDate.year %></span><br />
            By: Citibank
        </div>
        <div class="detailsColumn">
            size: 123kb<br />
            Format: PDF<br />
        </div>
    </div>
    <div class="description"><%= description %></div>


</div>

<div class="relatedDocuments">

</div>