
/*
--  Dropdown ---------------------------------------------------------------------- */ 

.pointer {
	position: absolute;
	display: block;
	border-color:transparent transparent #333 transparent;
	border-style:solid;
	border-width:7px 7px;
	width:0;
	height:0;
	top: -7px;
	left: 14px;

}
.overlay-inner {
	margin-top: 7px;
	overflow: hidden;
	border-radius: 4px;
	border: 1px solid #333;
	background-clip: padding-box;
	height: 98%;
	position: relative;

	/* Gradient */
	background: #303030; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwMzAzMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #303030 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303030), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #303030 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #303030 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #303030 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #303030 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#000000',GradientType=0 ); /* IE6-8 */ } .overlay .overlayContent {
	position: absolute;
	/*overflow-y: auto;*/
	min-height: 150px;
	width: 600px;

	-webkit-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-moz-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-ms-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-o-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */

	-webkit-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-moz-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-ms-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-o-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
	transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */ }

/* NEw FiLTER LiST */

.list-filter {
	width: 300px;
	float: left;
}

.list-filter .drop-down {
	margin: 0;
	background: #303030; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwMzAzMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #303030 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303030), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #303030 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #303030 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #303030 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #303030 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.list-filter form {
	margin: 0;
	text-align: center;
}
.list-filter form input {
	margin-bottom: 0;
	border-radius: 20px;
}

.list-filter .list-viewport {
	overflow-y: auto;
	height: 250px;
}

.list-filter .list-viewport div {
	padding: 10px;
	border-bottom: 1px solid #5C5C5C;
}

.list-filter .list-viewport div a {
	color: #a2a2a2;
	font-weight: 100;
	text-shadow: none;
}

/*
