<div>
    <ul class="list inline drill">
    <li><a href="#" class="button trans flat icon"><span class="icon-all icon-location"></span><span>Flat Iconed</span></a></li>
    <li><a href="#" class="button trans flat icon"><span class="icon-all icon-location"></span><span>Flat Iconed</span></a></li>
    <li><a href="#" class="button trans flat icon"><span class="icon-all icon-location"></span><span>Flat Iconed</span></a></li>
    <li><a href="#" class="button trans flat icon"><span class="icon-all icon-location"></span><span>Flat Iconed</span></a></li>
    </ul>
    <a class="button icon"><span class="icon-all icon-add"></span></a>
</div>
            
        

