<div class="insight">
	<div class="insightBtn_L"></div>
	<div class="insightBtn_R"></div>
	<div class="fpWrapper">
		<ul class="featuredPubs">
			<li class="pubBox cio featured">
				<div class="bookmark on"></div>
				<div class="dateBar">
					May 6th, 2012
				</div>
				<div class="titleBar">
					FX: Where the smart <br />money is
				</div></li>
			<li class="pubBox advisoryServices">
				<div class="bookmark"></div>
				<div class="dateBar">
					May 4th, 2012
				</div>
				<div class="titleBar">
					Rapid urbanization and growth of China's economy
				</div></li>
			<li class="pubBox investmentResearch">
				<div class="bookmark"></div>
				<div class="dateBar">
					May 4th, 2012
				</div>
				<div class="titleBar">
					Mixed emotions meets uncertainty
				</div></li>
			<li class="pubBox cio">
				<div class="bookmark on"></div>
				<div class="dateBar">
					May 4th, 2012
				</div>
				<div class="titleBar">
					Week Ahead
				</div></li>
			<li class="pubBox fixedIncome">
				<div class="bookmark"></div>
				<div class="dateBar">
					May 4th, 2012
				</div>
				<div class="titleBar">
					Economics this week
				</div>
		</ul>
	</div>
</div>