<ul><li><div class="gloss">
    <div class="myFund f1">
        <div class="icon-info"></div>
        <div class="doughnut"></div>
        
        <div class="details">
            <div class="title">Fund E234</div>
            <div class="title-sub">Equity Long</div>
        </div>
    
    </div>
</div>    </li><li><div class="gloss">
    <div class="myFund f2">
        <div class="icon-info"></div>
        <div class="doughnut"></div>
        
        <div class="details">
            <div class="title">Fund E234</div>
            <div class="title-sub">Equity Long</div>
        </div>
    
    </div>
</div>    </li><li><div class="gloss">
    <div class="myFund f3">
        <div class="icon-info"></div>
        <div class="doughnut"></div>
        
        <div class="details">
            <div class="title">Fund E234</div>
            <div class="title-sub">Equity Long</div>
        </div>
    
    </div>
</div>    </li><li><div class="gloss">
    <div class="myFund f2">
        <div class="icon-info"></div>
        <div class="doughnut"></div>
        
        <div class="details">
            <div class="title">Fund E234</div>
            <div class="title-sub">Equity Long</div>
        </div>
    
    </div>
</div>    </li><li><div class="gloss">
    <div class="myFund f4">
        <div class="icon-info"></div>
        <div class="doughnut"></div>
        
        <div class="details">
            <div class="title">Fund E234</div>
            <div class="title-sub">Equity Long</div>
        </div>
    
    </div>
</div></ul>