<div class="column-dk"> 
    <div class="tabBar">
        <ul>
            <li class="current">Info</li>
            <li>Filters</li>
        </ul>
    </div>
    <div class="clear"></div>
    <div class="titleBar">View all</div>
    
        <div class="hfWrapper slide-in-left">
            <div class="hfBlock">
            <ul>
            <li>Portfolio B8991
            
                <ul>
                    <li>Fund D717</li>
                    <li>Equity Long-Short</li>
                </ul>   
            
            </li>
            </ul>
            </div>
    
            <div id="accordion" >
            <div class="lastbb"></div>
                <section id="performance" class="on" >
                    <h2>Performance</h2>
                    <div>
                        
                        <table>
                        <tr>
                            <td>Return:</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>YTD</td>
                            <td>11.64%</td>
                        </tr>
                        <tr>
                            <td>1 YR</td>
                            <td>2.00%</td>
                        </tr>
                        <tr>
                            <td>3 YR</td>
                            <td>6.53%</td>
                        </tr>
                        <tr>
                            <td>5 YR</td>
                            <td>-2.13%</td>
                        </tr>
                        <tr>
                            <td>Since Inception</td>
                            <td>7.01%</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Standard Deviation</td>
                            <td>7.01%</td>
                        </tr>
                        <tr>
                            <td>% Up Months</td>
                            <td>17.49%</td>
                        </tr>
                        <tr>
                            <td>Maximum Drawdown</td>
                            <td>0.34%</td>
                        </tr>
                        <tr>
                            <td>Inception</td>
                            <td>xx.xx.xx</td>
                        </tr>
                        <tr>
                            <td>As Of</td>
                            <td>xx.xx.xx</td>
                        </tr>
                    </table>
                            
                            
                            
                        
                    </div>
                </section>
                
                <section id="overview" class="off" >
                    <h2>Overview</h2>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                    </div>
                </section>
                
                <section id="accesspoints" class="off" >
                    <h2>AccessPoints</h2>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                    </div>
                </section>

                

            
            </div><!-- end accordian -->
    
    </div> <!-- end hfwrapper -->
    
    


</div> <!-- end column -->
