
<div class="hf-top">
    <div class="hft-all">
    <span class="hft1">Hedge Fund for Volitile Markets</span>
    <span class="hft2">HedgeForum Portfolio Funds</span>
    </div>
</div>

<div class="hf-chart fadeIn" >
    <div class="legend-left">
    	    	<div class="ll1">Since Inception</div>

    	<div class="ll2">Return %</div>
    	
    </div>
    <table>
        <tr>
            <td><span>30</span></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>    
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><span>25</span></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>    
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        
        <tr>
            <td><span>20</span></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>    
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><span>15</span></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>    
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><span>10</span></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>    
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
                        
        <tr>
            <td><span>5</span></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>    
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>     
          <tr class="y-axis">
            <td><span></span></td>
            <td><span>0</span></td>
            <td><span>5</span></td>
            <td><span>10</span></td>
            <td><span>15</span></td>
            <td><span>20</span></td>
            <td><span>25</span></td>    
            <td><span>30</span></td>
            <td><span>35</span></td>
            <td><span>40</span></td>
        </tr>   
                
    </table>
    
    <div class="doughnuts">
        <div class="dn1"><span class="folder"></span><span class="lineChart"></span><span class="details"></span></div>
        <div class="dn2"><span class="folder"></span><span class="lineChart"></span><span class="details"></span></div>
        <div class="dn3"><span class="folder"></span><span class="lineChart"></span><span class="details"></span></div>
        <div class="dn4"><span class="folder"></span><span class="lineChart"></span><span class="details"></span></div>
        <div class="dn5"><span class="folder"></span><span class="lineChart"></span><span class="details"></span></div>
     	<div class="dn6"><span class="folder"></span><span class="lineChart"></span><span class="details"></span></div>
     	<div class="dn7"><span class="folder"></span><span class="lineChart"></span><span class="details"></span></div>
     	<div class="dn8"><span class="folder"></span><span class="lineChart"></span><span class="details"></span></div>
     	<div class="dn9"><span class="folder"></span><span class="lineChart"></span><span class="details"></span></div>
    </div>
    
    
    
    <div class="legend-bottom">
    	    	<div class="ll1">Standard Deviation</div>

    	<div class="ll2">Since Inception</div>
    	
    </div>    
    
</div>



