



       <div id="header_portfolio">

            
    <ul class="nav_1">
        <li class="topmenu_logo" ></li>
    </ul>
            
            
            
    <ul class="nav_2">
        <li class="topmenu_trans" ><span class="pips">20</span></li>
        <li class="topmenu_opps" ><span class="pips"></span></li>
        <li class="topmenu_alerts"><span class="pips">8</span></li>
        <li class="topmenu_chat"><span class="pips"></span></li>
        <li class="topmenu_folder"><span class="pips"></span></li>
        <li class="topmenu_search"><span class="pips"></span></li>
    </ul>
           
            
            <div class="placeToolbar gradient_titleBar">
                <ul>
                    <li class="titleBar_icon"></li>
                    <li class="titleBar_userAndLabel">
                        <span class="titleBar_user">John Smith</span> <span class="titleBar_label">Relationship</span>
                    </li>
                </ul>
                
                <ul class="button">
                    <li><span>plo</span></li>
                    <li><span>plo</span></li>
                </ul>
            </div>
            
        </div>
        

