
          
            <div class="placeToolbar gradient_titleBar">


        <!--        <ul>
                    <li class="titleBar_icon"></li>
                    <li class="titleBar_userAndLabel">
                        <span class="titleBar_user">John Smith</span> <span class="titleBar_label">Relationship</span>
                    </li>
                </ul>
                -->

                <div class="buttons-sub">

                    <ul class="button-group">
                        <li><a href="#" class="button trans icon"><span class="icon-all icon-video"></span></a></li>
                        <li><a href="#" class="button trans icon"><span class="icon-all icon-chat"></span></a></li>
                    </ul>
                </div>

            </div>


