<div class="popup rn paused forwards" id="<%= this.id %>">

	<div class="sectHeader grad">
		<span class="bolded">My Relationships</span>
		<span class="lightBolded"> (12,450)</span>
	</div>

	<div class="searchBar">
		<form>
			<input class="searchField" type="text"/>
		</form>
	</div>

	<div class="titlebar grad">
		<span class="filterTitle">Show Filters</span>
	</div>

	<!--Show Filters -->
	<div class="searchFilters grad">
		<ul class="filterButtons">
			<li><span class="filterTxt1">Type</span><span class="filterTxt2">Lorem ipsum</span></li>
			<li><span class="filterTxt1">Sort By</span><span class="filterTxt2">Lorem ipsum</span></li>
			<li><span class="filterTxt1">Banker</span><span class="filterTxt2">Lorem ipsum</span></li>
		</ul>
	</div>

	<!-- Search Results -->
	<div class="searchResults">
		<ul class="resultsButtons">
			<li><span class="searchTxt1">John Smith CL12345678</span><span class="searchTxt2">AUM: $65,000,000</span></li>
			<li><span class="searchTxt1">Alice Snyder CL12345678</span><span class="searchTxt2">AUM: $29,000,000</span></li>
			<li><span class="searchTxt1">Charles Snyder CL12345678</span><span class="searchTxt2">AUM: $11,000,000</span></li>
			<li><span class="searchTxt1">Jane Richards CL12345678</span><span class="searchTxt2">AUM: $22,000,000</span></li>
			<li><span class="searchTxt1">Christopher Smith CL12345678</span><span class="searchTxt2">AUM: $25,000,000</span></li>
			<li><span class="searchTxt1">Angela Toasing CL12345678</span><span class="searchTxt2">AUM: $39,000,000</span></li>
			<li><span class="searchTxt1">Robert Ulster CL12345678</span><span class="searchTxt2">AUM: $65,000,000</span></li>
			<li><span class="searchTxt1">John Smith CL12345678</span><span class="searchTxt2">AUM: $65,000,000</span></li>
			<li><span class="searchTxt1">Alice Snyder CL12345678</span><span class="searchTxt2">AUM: $29,000,000</span></li>
			<li><span class="searchTxt1">Charles Snyder CL12345678</span><span class="searchTxt2">AUM: $11,000,000</span></li>
			<li><span class="searchTxt1">Jane Richards CL12345678</span><span class="searchTxt2">AUM: $22,000,000</span></li>
			<li><span class="searchTxt1">Christopher Smith CL12345678</span><span class="searchTxt2">AUM: $25,000,000</span></li>
			<li><span class="searchTxt1">Angela Toasing CL12345678</span><span class="searchTxt2">AUM: $39,000,000</span></li>
			<li><span class="searchTxt1">Robert Ulster CL12345678</span><span class="searchTxt2">AUM: $65,000,000</span></li>
		</ul>
	</div>

	<div class="titlebar grad">
		<span class="bolded">CONTEXT</span>
	</div>

	<div class="sectFooter grad">
		<span class="filterTitle">All Relationships</span>
	</div>

</div>
