

        <div class="title-bar">Set Investment Objective<span class="ofof">2/4</span></div>
        <div class="content">
            
            <div class="inlay">
                
                <div id="slider" class="slider">
                
                    <input type="range" min="0" max="20" >
                    
                    <ul>
                        <li>Cap Preservation</li>
                        <li>Income</li>
                        <li>Growth+Income</li>
                        <li>Growth</li>
                        <li>Speculation</li>
                    </ul>
                    
                </div>
                
            </div>
            <div class="button"><span>Next</span></div>
        
        </div>
