	<div id="prev_container" class="prev_container">
    	
        <div class="left_col">
        	<div class="cont_title">
            	<!--<h1>Overview Video: See it in action</h1>-->
            </div>
            
            <div class="cont_port">
            	<div class="cont_head">
                	<h2>Portfolio</h2>
                    <p>Explore your client's portfolios with powerful, 
                    industry leading technologies</p>
                </div>
                
                <div class="cont_vid_port"></div>
            </div><!-- ***/port*** -->
            
            <div class="cont_insight">
            	<div class="cont_head">
                	<h2>Insight</h2>
                    <p>Strategize with the aid of Citi Private Bank's 
                    world-class economic publications</p>
                </div>
                
                <div class="cont_link1">
                	<span class="cont_img"></span>
                	<span class="cont_date"><!--July 14th, 2012--></span>
                    <div class="cont_sub">
                    	<h1><!--View From the Bridge--></h1>
                        <p><!--Why we worry about China--></p>
                    </div>
                </div>
                
                <div class="cont_link2">
                	<span class="cont_img"></span>
                	<span class="cont_date"><!--July 14th, 2012--></span>
                    <div class="cont_sub">
                        <p><!--CPB's Global Investment Committee--></p>
                    </div>
                </div>
            </div><!-- ***/insight*** -->
            
        </div><!-- /left col -->
        
        <div class="right_col">
            <div class="cont_conn">
            	<div class="cont_head">
                	<h2>Connect</h2>
                    <p>Engage with your clients in new and exciting ways</p>
                </div>
                
                <div class="cont_vid_conn"></div>
            </div><!-- ***/connect*** -->
            
            <div class="cont_opps">
            	<div class="cont_head">
                	<h2>Opportunities</h2>
                    <p>Discover investment possibilities with innovative tools</p>
                </div>
                
                <div class="cont_vid_opps"></div>
            </div><!-- ***/opportunities*** -->
            
            <div class="cont_vault">
            	<div class="cont_head">
                	<h2>Vault</h2>
                    <p>Access client documents at your fingertips instantly</p>
                </div>
                
                <div class="cont_vid_vault"></div>
            </div><!-- ***/vault*** -->
            
        </div><!-- /right col -->
        
    </div>

