	<div class="popup rn paused forwards" id="<%= this.id %>">
		<div class="titleBar">
			<strong>Relationship Navigator</strong>
		</div>
		<div class="listView">
			<ul class="list">
				<li>
					Lorem ipsum dolor sit amet, consectetur Africa elit.
					<br>
					<span class="timeStamp">5 hours ago</span>
				</li>
				<li>
					Lorem ipsum dolor sit amet, consectetur Africa elit.<span class="timeStamp">5 hours ago</span>
				</li>
				<li>
					Lorem ipsum dolor sit amet, consectetur Africa elit.<span class="timeStamp">5 hours ago</span>
				</li>
				<li>
					Lorem ipsum dolor sit amet, consectetur Africa elit.<span class="timeStamp">5 hours ago</span>
				</li>
				<li>
					Lorem ipsum dolor sit amet, consectetur Africa elit.<span class="timeStamp">5 hours ago</span>
				</li>
				<li>
					Lorem ipsum dolor sit amet, consectetur Africa elit.<span class="timeStamp">5 hours ago</span>
				</li>
				<li>
					Lorem ipsum dolor sit amet, consectetur Africa elit.<span class="timeStamp">5 hours ago</span>
				</li>
				<li>
					Lorem ipsum dolor sit amet, consectetur Africa elit.<span class="timeStamp">5 hours ago</span>
				</li>
			</ul>
		</div>
		<div class="seeAll">
			<strong>See all recent transactions ></strong>
		</div>
	</div>
</div>