<div class="searchView fadeOut">
<div class="barWrapper">
	<div class="searchBar grad">
		<form>
			<input class="searchField" type="text" />
		</form>
	</div>
</div>
<div class="resultsWrapper">
	<div class="sideNav">
		<ul class="sideBtns">
			<li class="on" id="book">Book<span class="count" style="float:right;">24</span></li>
			<li id="portfolio">Portfolio<span class="count">3</span></li>
			<li id="insight">Insight<span class="count">3</span></li>
		</ul>
	</div>
	<div class="listWrapper">
		<ul class="resultsList">
			<li class="sectTitle">Book</li>
			<li><strong>Joseph Oxford</strong> 658 East 20th... Acct Num 9239204</li>
			<li><strong>Mary Oxford</strong> 658 East 20th... Acct Num 9239204</li>
			<li><strong>Mary Oxford</strong> 658 East 20th... Acct Num 9239204</li>
			<li><strong>Mary Oxford</strong> 658 East 20th... Acct Num 9239204</li>
			<li class="showAll">Show All (20) Relationship</li>
			<li><strong>Oxford Investments</strong>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
			<li><strong>Oxford Investments</strong>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
			<li><strong>Oxford Investments</strong>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
			<li><strong>Oxford Investments</strong>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
			<li><strong>Oxford Investments</strong>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
			<li><strong>Oxford Investments</strong>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
			<li><strong>Oxford Investments</strong>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
			<li class="sectTitle">Portfolio</li>
			<li><strong>Oxford Investments</strong>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
			<li><strong>Joseph Oxford</strong> 658 East 20th... Acct Num 9239204</li>
			<li><strong>Mary Oxford</strong> 658 East 20th... Acct Num 9239204</li>
			<li><strong>Oxford Investments</strong>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
			<li><strong>Oxford Investments</strong>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
			<li><strong>Joseph Oxford</strong> 658 East 20th... Acct Num 9239204</li>
			<li><strong>Mary Oxford</strong> 658 East 20th... Acct Num 9239204</li>
			<li><strong>Oxford Investments</strong>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
			<li><strong>Oxford Investments</strong>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
			<li class="sectTitle">Insight</li>
			<li><strong>Joseph Oxford</strong> 658 East 20th... Acct Num 9239204</li>
			<li><strong>Mary Oxford</strong> 658 East 20th... Acct Num 9239204</li>
			<li><strong>Oxford Investments</strong>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
		</ul>
		<div class="scrollAssist" style="height:100%;"></div>
	</div>
</div>
</div>